*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
}

.inner h3{
    font-size: 2.5vw;;
}

.inner a{
    font-size: 1.5vw;;
}

.inner-cover{
    height: 40%;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    background-color: rgba(128, 128, 128, 0.219);
    
}

.flex-container{
    display: flex;
    flex-direction: row;
}

.cover-heading{
    padding-top: 10%;
    font-size: 2.5vw;

}





      